.env
config/*
!config/worlds_local/
!config/worlds_local/**
!config/characters_local/
!config/characters_local/**
!config/adminlist.txt
!config/bannedlist.txt
!config/permittedlist.txt
!config/prefs
!config/bepinex/
config/bepinex/*
!config/bepinex/config/
!config/bepinex/config/**
!config/bepinex/plugins/
!config/bepinex/plugins/.gitkeep
config/bepinex/plugins/*.dll
config/backups/
config/characters_local/backups/
data/
server/
native/steamcmd/
!native/steamcmd/.bootstrapped
vps-info.md
